*.txt
*.log
*.ori
*.bak
*.conf
*.json
*.backup

app
psiphon-tunnel-core
brainfuck-psiphon-pro
brainfuck-psiphon-pro-go

app.exe
psiphon-tunnel-core.exe
brainfuck-psiphon-pro.exe
brainfuck-psiphon-pro-go.exe

storage/psiphon/*/

!storage/psiphon/database/
